<span class="loggedOut">
  
  <p>Roll dğ‘¥ is a place to create, share and horde tables
    for <abbr="Tabletop roleplaying games">TTRPGS</abbr>.</p>

<div class="buttons">
  <%= link_to 'View latest tables', tables_path, class: 'button' %>
</div>

<p>Here you can:</p>
<ul>
  <li>Create and share tables quickly and easily.</li>
  <li>Compile lists of tables to use easily in your next game.</li>
  <li>Follow the creators you love.</li>
</ul>

<div class="buttons">
  <%= link_to 'Sign in', new_user_session_path, class: 'button' %>
  <%= link_to 'Sign up', new_user_registration_path, class: 'button' %>
</div></span>
