<div class="left">
  <h2>Latest tables:</h2>
</div>
<div class="right">
  <%= link_to 'New table', new_table_path, class: 'button' %>
  <%= link_to 'Like Tabled? Support us!', 'https://ko-fi.com/tsvallender',
      class: 'button', :target => '_blank' %>
</div>
