<tr class="tableRow">
  <td><%= form.number_field :num, class: 'rowNo no-spinners' %></td>
  <td><%= form.text_field :name %></td>
  <td><%= form.text_field :description %></td>
  <td><%= link_to_remove_nested(form, fields_wrapper_selector: '.tableRow') %></td>
</tr>
