$border-color: #000;
$title-font: 'Linden Hill', Cambria, Times New Roman;
$body-font: 'Raleway', Calibri, Helvetica, Arial;
$helper-text: gray;
$bold-background: #000;
$bold-foreground: #fff;

@font-face {
    font-family: 'Linden Hill';
    src: font-url('lindenhill.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Linden Hill';
    src: font-url('lindenhill-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-feature-settings: "numr";
}

@font-face {
    font-family: 'Raleway';
    src: font-url('raleway.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    height: 100vh;
    min-height: 100vh;
    background-color: #fff;
}

body {
    font-family: $body-font;
    border-width: 0px 1px 0px 1px;
    min-height: 100%;
    padding: 0em 1em;
    background-image: image-url('background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

@media(min-width: 700px) {
    body {
	font-size: calc(1rem + .5vw);
	margin: 0 auto;
	width: 80%;
	max-width: 70em;
	border-style: solid;
	border-color: #000;
    }
}

h1, h2, h3, h4 {
    font-family: $title-font;
}

h1 {
    padding: .5em;
    text-align: center;
    font-size: calc(3rem + 3vw);
    font-weight: bold;
    a {
	text-decoration: none;
	color: $border-color;
    }
}

h2 {
    font-size: calc(2rem + 1vw);
    font-weight: bold;
    text-align: center;
    margin: 1em 0em .5em 0em;
}

.name {
    color: $helper-text;
    font-style: italic;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: calc(1.5rem + 1vw);
    margin: 0em;
    a:link, a:visited {
	color: $helper-text;
	text-decoration: none;
    }
}

header {
    border-bottom: 1px solid #000;
}

nav {
    text-align: center;
    margin-bottom: 1em;
    li {
	margin: 0em 1em;
	list-style-type: none;
	display: inline-block;
	a {
	    color: $border-color;
	    text-decoration: none;
	}
	a:hover {
	    text-decoration: underline;
	}
    }
}


.tableDescription {
    text-align: center;
    width: 80%;
    margin: 1em auto;
}

table {
    margin: 0 auto;
    text-align: center;
    tr {
	border-bottom: 1px solid $border-color;
    }
    th {
	font-weight: bold;
    }
    th, td {
	padding: 1em;
    }
    width: 90%;
    .num {
	width: 10%;
    }
}

a:link.nodec, a:visited.nodec {
    color: #000;
    text-decoration: none;
}

.descriptionInput {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    resize: none;
    font-family: Goudy;
}

form {
    width: 80%;
    margin: 0 auto;
    .field {
	margin: .5em 0em;
    }
    label {
	font-weight: bold;
	margin: .5em 0em;
	display: block;
    }
    input[type=text], input[type=email], input[type=password] {
    	box-sizing: border-box;
	font-family: Goudy;
	width: 100%;
	margin: 0em;
	padding: .5em;
	display: block;
    }
    input[type=submit] {
	display: block;
	padding: .5em;
	margin: 0em;
	width: 100%;
    }
    .helperText {
	color: $helper-text;
	display: block;
	margin: 0em 0em .5em 0em;
    }
    input[type=text].titleField {
	margin: .5em auto;
	font-size: 2em;
    }
    .formoptions {
	display: inline;
	margin: 1em 0;
    }
    .addrow {
	display: block;
	margin: .5em;
    }
}

form.listmember {
    text-align: center;

}
.editLink, form.listmember input[type=submit], form.listmember select {
    width: auto;
    padding: .5em;
    margin: .5em;
    display: inline;
    color: $bold-foreground;
    background-color: $bold-background;
    border: 0;
    border-radius: .5em;
}

.editLink {
    display: block;
    text-align: center;
}

a:link.editLink, a:visited.editLink {
    text-decoration: none;
}

ul#userlinks {
    text-align: center;

    margin: 1em;
    background-color: lightgray;
    padding: .5em;
    border-radius: .5em;
    li {
	display: inline-block;
    }
}


.loggedOut {
    p {
	margin: 1em;
    }
    ul {
	margin: 2em;
	li {
	    margin: 1em;
	    list-style-type: disc;
	}
    }
}
.buttons {
    text-align: center;
    padding: 1em;
}
.button {
    display: inline-block;
    text-align: center;
    background-color: $bold-background;
    color: $bold-foreground;
    border-radius: .5em;
    margin: 0;
    padding: 1em;
    text-decoration: none;
}
@media(max-width: 700px) {
    .right {

	text-align: center;
	margin: .5em;
	.button {
	    display: inline-block;
	    width: 40%;
	    margin-bottom: .5em;
	}
    }
    .support {
	position: absolute;
	bottom: 5px;
	right: 5px;
    }
}
@media(min-width: 700px) {
    .left {
	width: 60%;
    }
    .right {
	width: 30%;
	float: right;
	.button {
	    display: block;
	    margin: 1em 0 1em 0;
	}
	li {
	    list-style-type: disc;
	    margin: 1em;
	}
    }
}

form.search {
    background-color: $bold-background;
    color: $bold-foreground;
    width: 100%;
    padding: .5em;
    border-radius: .5em;
    margin: 1em 0;
    h2 {
	margin: 0;
    }
}

.highlight {
    background-color: lightgray;
    border-radius: .5em;
    padding: .5em;
}

#activities, #drafts, .table {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .5em;
    padding: .5em;
    margin-bottom: 1em;
    h2 {
	margin: 0;
    }
    .activity {
	margin: .2em 0;
    }
}

.supportLink {
    display: block;
    margin: .5em auto;
    text-align: center;
    background-color: $bold-background;
    color: $bold-foreground;
    padding: .5em;
    border-radius: .5em;
    a:link, a:visited {
	text-decoration: none;
	color: $bold-foreground;
    }
}

.fade {
    mask-image: linear-gradient(to top, transparent 10%, black 75%);
}

.inline {
    display: inline;
}
.pagination {
    text-align: center;
    margin: 1em;
}

strong {
    font-weight: bold;
}

.notice, .alert {
    display: block;
    width: 80%;
    background-color: rgba(200, 0, 0, 0.5);
    padding: .5em;
    border-radius: .5em;
    margin: .5em auto;
    font-weight: bold;
}

.math {
    font-style: italic;
}

table#tableForm {
    width: 100%;
    td {
	vertical-align: middle;
	padding: 1em .2em;
    }
    .numCol {
	width: 5%;
    }
    .nameCol {
	width: 35%;
    }
    .descriptionCol {
	width: 50%;
    }
    .removeCol {
	width: 10%;
    }
    input {
	background-color: rgba(255, 255, 255, 0.7);
	border: 0;
	border-radius: .5em;
    }
    input.rowNo {
	width: 100%;
	text-align: right;
	padding: .5em;
    }
}

.no-spinners {
    -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
