$border-color: #000;
$title-font: 'Goudy', Cambria, Times New Roman;
$body-font: 'Goudy', Cambria, Times New Roman;

@font-face {
    font-family: 'Goudy';
    src: font-url('goudy.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: $body-font;
    margin: 0 auto;
    width: 80%;
    max-width: 70em;
}

h1 {
    padding: .5em;
    text-align: center;
    font-size: 6em;
    font-weight: bold;
    a {
	text-decoration: none;
	color: $border-color;
    }
}

h2 {
    font-size: 3em;
    font-weight: bold;
}

h3 {
    font-size: 2em;
    margin: 1em 0em;
}

nav {
    text-align: center;
    font-size: 1.5em;
    margin: 1em;
    li {
	margin: 0em 1em;
	list-style-type: none;
	display: inline;
	a {
	    color: $border-color;
	    text-decoration: none;
	}
	a:hover {
	    text-decoration: underline;
	}
    }
}

table {
    margin: 0 auto;
    text-align: center;
    tr {
	border-bottom: 1px solid $border-color;
    }
    th {
	font-weight: bold;
    }
    th, td {
	padding: 1em;
    }
    width: 80%;
}

.titleField {
    font-size: 2em;
    margin: 0 auto;
}

input[type=submit] {
    display: block;
    padding: .5em;
    margin: .5em;
}
